.nameTileWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 50px 70px;
}

.languageImage {
  width: 100px;
  height: auto;
}

.name{
    color: white;
    font-weight: 400;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    letter-spacing: 2px;
}
