.gridWrapper {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  min-height: 1000px;
  margin-left: 20px;
  margin-top: 40px;
  justify-content: center;
  flex-direction: row;
}


.languagesWrapper{
  margin-right: auto;
  margin-left: auto;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  flex-direction: row;
}

.languagesWrapper .lang{
  color: white;
  padding: 15px;
  transition-duration: 0.3s;
  font-size: 20px;
  margin: 10px;
  font-weight: 300;
  cursor: pointer;
}

.languagesWrapper .curLang{
  color: #fca311;
  padding: 15px;
  font-size: 20px;
  margin: 10px;
  transition-duration: 0.3s;
  font-weight: 300;
  cursor: pointer;
}