.appTileWrapper {
  width: 320px;
  height: 320px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.7s;
}

.allTile{
    width: 320px;
    height: 450px;
}

.appTileWrapper:hover {
  filter: brightness(50%);
  transition-duration: 0.7s;
}

.image {
  height: 320px;
  width: 320px;
  object-fit: cover;
}

.image:hover {
  cursor: pointer;
}

.button {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  width: 200px;
  height: 100px;
  background-color: red;
}

.appName{
    color: white;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.appYear{
    color: gray;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 7px;
}