.resumeCardsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 80px;
}
.resumeCardsContainer .categoryTitle{
    color: white;
    text-align: center;
    font-weight: 300;
    padding: 10px;
    font-size: 30px;
}

.categoryContainer{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}


@media (max-width: 800px) {
    .resumeCardsContainer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-top: 80px;
    }
    .categoryContainer{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .spacer{height: 50px;}
}