.aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  margin-top: 150px;
  margin-bottom: 100px;
}

.img {
  object-fit: cover;
  height: auto;
  width: 50%;
  margin: 10px;
}

.aboutContentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.aboutTitle {
  color: rgb(150, 150, 150);
  font-size: 20px;
  padding: 0;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 0px;
  margin-right: 45px;
  text-align: start;
}

.aboutSubTitle {
  color: rgb(150, 150, 150);
  font-size: 18px;
  padding: 0;
  margin-left: 40px;
  margin-right: 45px;
  text-align: start;
  font-weight: 300;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  margin-top: 10px;
  justify-content: flex-start;
}

#hireMeButton {
  background-color: #fca311;
  border-radius: 200px;
  padding: 8px 35px;
  font-weight: 300;
  color: white;
  font-size: 16px;
  letter-spacing: 1.5px;
  width: 150px;
}
#hireMeButton:hover {
  background-color: #ffb030;
}

#visitGithubButton {
  background-color: rgb(150, 150, 150);
  border-radius: 200px;
  padding: 8px 35px;
  font-weight: 300;
  color: white;
  font-size: 16px;
  margin-left: 10px;
  width: 220px;
  letter-spacing: 1.5px;
}

#visitGithubButton:hover {
  background-color: rgb(160, 160, 160);;
}

@media (max-width: 460px) {
  
  .buttonsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 10px;
    justify-content: flex-start;
  }
  #visitGithubButton {

    margin-left: 0px;

  }
  
}


@media (max-width: 800px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

  }
  .img {
    width: auto;
    margin: 25px;
  }
  .aboutContentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
  }
  #visitGithubButton {
    margin-top: 15px;
  }
  #hireMeButton {
    margin-top: 15px;
  }
}

